.collection-item {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
    margin-right: 5px;
}

.vote-box {
    display: flex;
    align-items: center;
}

.errors {
    color: red;
}
.btn-back {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 10px 0 30px;
    line-height: 44px;
}